@charset "utf-8";

$black: #000;
$grey-light:   #8c9b9d;

$primary: $black !default;
$secondary: $grey-light !default;

$button-color: $secondary;

$link: $secondary;

@import "../../imports/lux-dark.scss";