body
{ 
    display:flex; 
    flex-direction:column; 
    min-height: 100vh;
}

section
{
    flex: 1;
}

footer
{
    margin-top:auto; 
}

.search-bar
{
    width: 350px;
    color: black;
}

// Text colour
.search-bar input
{
    width: 350px;
    color: #fff;
    background-color: #282f2f;
    border-color: transparent;
}

.search-bar input:hover 
{
    border-color: transparent !important;
}

// "Search" colour
.search-bar input::placeholder
{
    color: #fff;
}

.search-results
{
    position: absolute;
    right: 11px;
    top: 53px;
    z-index: 31;
    width: 348px;
    border-radius: 0px !important;
    padding: 0 !important;
    box-shadow: 0 0 0 1px black !important;
}

.search-results .result td {
    font-size: 1em !important;
}

.is-maxed
{
    max-height: 200px;
}

.navbar-item img
{
    max-height: 55px !important;
}

// Search results
.search-results .result a
{
    color: #fff;
    font-weight: 500;
}

.radio-control
{
    margin-bottom: 1em;
}

.navbar-burger
{
    height: 70px !important;
}

.index
{
    background: #282f2f;
}