body
{ 
    display:flex; 
    flex-direction:column; 
    min-height: 100vh;
}

section
{
    flex: 1;
}

footer
{
    margin-top:auto; 
}

.search-bar
{
    width: 350px;
}

.search-results
{
    position: absolute;
    right: 11px;
    top: 53px;
    z-index: 31;
    width: 348px;
    border-radius: 0px !important;
    padding: 0 !important;
}

.search-results .result a
{
    color: black;
}

.navbar-burger
{
    height: 70px !important;
}

.index
{
    background: #ecf0f1;
}