.navbar-item img
{
    max-height: 55px !important;
}

.menu
{
    font-size: 1.2rem;
}

.menu .button
{
    float: right;
}

.hide-menu
{
    width: 0px !important;
    opacity: 0 !important;
}

.hide-menu .menu
{
    display: none;
}

.navbar-brand img
{
    margin-right: 20px;
}

.container.content img
{
    cursor: pointer;
}

.token.number
{
    align-items: left;
    background-color: transparent;
    border-radius: 0px;
    display: inline;
    justify-content: left;
    margin-right:0rem;
    min-width: 0em;
    padding: 0rem 0rem;
    text-align: left;
    vertical-align: top;
}

.MathJax_Display
{
    overflow-y: hidden;
    overflow-x: auto;
    
    max-width: 100%;
}

@media screen and (max-width: 768px)
{
    .MathJax_Display
    {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

.token.tag
{
    align-items: initial;
    background-color: initial;
    border-radius: initial;
    color: initial;
    display: initial;
    font-size: inherit;
    height: initial;
    justify-content: initial;
    line-height: initial;
    padding-left: initial;
    padding-right: initial;
    white-space: initial;
}

.footer
{
    padding-bottom: 3rem !important;
}

.navbar.on-bottom .navbar-start
{
    margin-left: 6rem;
}